Makefile
Makefile.in
aclocal.m4
autom4te.cache/
*.log
compile
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
m4/
missing
src/.deps/
src/cf-decode
src/cf-encode
src/cf_decode-cf-decode.o
src/cf_encode-cf-encode.o
stamp-h1
.kdev4/
*.kdev4

